# Dependencies

In [1]:
import pandas as pd
import pymongo

# Import

In [3]:
#timeline information
search_being = pd.read_csv('Resources/multiTimeline(BeingADIK).csv')
search_twoworld = pd.read_csv('Resources/multiTimeline(Two World II).csv')
search_vampires = pd.read_csv('Resources/multiTimeline(Vampires).csv')
search_vtol = pd.read_csv('Resources/multiTimeline(VTOL VR).csv')

#geomap information
geo_being = pd.read_csv('Resources/geoMap(BeingADIK).csv')
geo_twoworld = pd.read_csv('Resources/geoMap(Two World II).csv')
geo_vampires = pd.read_csv('Resources/geoMap(Vampires).csv')
geo_vtol = pd.read_csv('Resources/geoMap(VTOL VR).csv')

# Clean

In [5]:
search_ls = [search_being, search_twoworld, search_vampires, search_vtol]
merged_search = search_ls[0].merge(search_ls[1], on = 'Week', how = 'outer')
for i in range(2, len(search_ls)):
    merged_search = merged_search.merge(search_ls[i], on = 'Week', how = 'outer')
merged_search.rename(columns = {merged_search.columns[1] : 'Being a DIK',
                                merged_search.columns[2] : 'Two Worlds II',
                                merged_search.columns[3] : 'Vampires',
                                merged_search.columns[4] : 'VTOL VR',
}, inplace = True)
merged_search.head()

        Week  Being a DIK  Two Worlds II  Vampires  VTOL VR
0  1/10/2021           13             80        71       16
1  1/17/2021           77             25        74       16
2  1/24/2021           26             45        93        0
3  1/31/2021           32            100        83       48
4   2/7/2021           26             50        77       32

In [7]:
geo_ls = [geo_being, geo_twoworld, geo_vampires, geo_vtol]
merged_geo = geo_ls[0].merge(geo_ls[1], on = 'Region', how = 'outer')
for i in range(2, len(geo_ls)):
    merged_geo = merged_geo.merge(geo_ls[i], on = 'Region', how = 'outer')
merged_geo.rename(columns = {merged_geo.columns[1] : 'Being a DIK',
                             merged_geo.columns[2] : 'Two Worlds II',
                             merged_geo.columns[3] : 'Vampires',
                             merged_geo.columns[4] : 'VTOL VR',
}, inplace = True)
merged_geo.head()

           Region  Being a DIK  Two Worlds II  Vampires  VTOL VR
0      Washington        100.0            NaN        76    100.0
1         Arizona         96.0            NaN        78     37.0
2   Massachusetts         91.0            NaN        64      NaN
3        Illinois         80.0            NaN        70     19.0
4  South Carolina         77.0            NaN        71      NaN

# Export to MongoDB

In [ ]:
# connecting to mongodb
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.googletrends_db

# Declare the collection
fruits = db.multiline
fruits = db.geo