In [1]:
#Import Dependencies

from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

from time import sleep
from random import randint

import json

In [2]:
# Sets a path to Google Chrome
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [/Users/joescuteri/.wdm/drivers/chromedriver/mac64/97.0.4692.71/chromedriver] found in cache

In [3]:
URL = ['https://twitchtracker.com/games', 'https://twitchtracker.com/games?page=2', 'https://twitchtracker.com/games?page=3', 'https://twitchtracker.com/games?page=4', 'https://twitchtracker.com/games?page=5']
tags = []
games = []
cleanedviews = []
views = []

for url in range(0,5):      
    browser.visit(URL[url])
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    href_tags = soup.find_all(href=True)
    raw_games = href_tags[40:60]
    
    for x in raw_games:
        tags.append(str(x))
    
    for element in tags:
        if element not in games:
            front = element.split(">")[1]
            back = front.split("<")[0]
            games.append(back)
        
    viewhtml = soup.find_all('div', class_="ri-value")
    
    for x in viewhtml:
        cleanedviews.append(str(x))
    

    for element in cleanedviews:
        if element not in views:
            front = element.split(">")[2]
            back = front.split("<")[0]
            views.append(back)
            
    print(f'Page Done!')
    
    sleep(randint(5,10))

Page Done!
Page Done!
Page Done!
Page Done!
Page Done!

In [4]:
# Upload to DataFrame 
df = pd.DataFrame(games, columns = ['GAME'])
df['VIEWS'] = views
df

                     GAME VIEWS
0           Just Chatting  391K
1       League of Legends  281K
2      Grand Theft Auto V  213K
3                VALORANT  119K
4                Fortnite  106K
..                    ...   ...
295  Farming Simulator 22  3.0K
296            MapleStory  3.0K
297     Age of Empires IV  2.9K
298                 Tibia  2.9K
299                    \n  2.8K

[300 rows x 2 columns]

In [5]:
# Change VIEWS column to integers

df.VIEWS = (df.VIEWS.replace(r'[KM]+$', '', regex=True).astype(float) * df.VIEWS.str.extract(r'[\d\.]+([KM]+)', expand=False)
             .fillna(1)
             .replace(['K','M'], [10**3, 10**6]).astype(int))

In [6]:
avg_views = df['VIEWS'].mean()
median_views = df['VIEWS'].median()

In [7]:
df

                     GAME     VIEWS
0           Just Chatting  391000.0
1       League of Legends  281000.0
2      Grand Theft Auto V  213000.0
3                VALORANT  119000.0
4                Fortnite  106000.0
..                    ...       ...
295  Farming Simulator 22    3000.0
296            MapleStory    3000.0
297     Age of Empires IV    2900.0
298                 Tibia    2900.0
299                    \n    2800.0

[300 rows x 2 columns]

In [8]:
df.drop(df.tail(1).index,inplace=True)

In [9]:
df

                     GAME     VIEWS
0           Just Chatting  391000.0
1       League of Legends  281000.0
2      Grand Theft Auto V  213000.0
3                VALORANT  119000.0
4                Fortnite  106000.0
..                    ...       ...
294        Stardew Valley    3000.0
295  Farming Simulator 22    3000.0
296            MapleStory    3000.0
297     Age of Empires IV    2900.0
298                 Tibia    2900.0

[299 rows x 2 columns]

In [51]:
games_list = df['GAME'].tolist()
views_list = df['VIEWS'].tolist()

In [52]:
game_json_list = json.dumps(games_list)
views_json_list = json.dumps(views_list)

In [69]:
games_list

['Just Chatting', 'League of Legends', 'Grand Theft Auto V', 'VALORANT', 'Fortnite', 'Apex Legends', 'Rust', 'Minecraft', 'Escape from Tarkov', 'Dota 2', 'Call of Duty: Warzone', 'Counter-Strike: Global Offensive', 'FIFA 22', 'God of War', 'Slots', 'Teamfight Tactics', 'Music', 'Monster Hunter Rise', 'Hearthstone', 'Dead by Daylight', 'Just Chatting', 'League of Legends', 'Grand Theft Auto V', 'VALORANT', 'Fortnite', 'Apex Legends', 'Rust', 'Minecraft', 'Escape from Tarkov', 'Dota 2', 'Call of Duty: Warzone', 'Counter-Strike: Global Offensive', 'FIFA 22', 'God of War', 'Slots', 'Teamfight Tactics', 'Music', 'Monster Hunter Rise', 'Hearthstone', 'Dead by Daylight', 'Special Events', 'PUBG: BATTLEGROUNDS', 'Yu-Gi-Oh! Master Duel', 'Rocket League', 'Sports', 'Genshin Impact', 'LOST ARK', 'ASMR', "Tom Clancy's Rainbow Six Extraction", 'Chess', 'Art', 'Overwatch', 'Old School RuneScape', 'Clash Royale', 'Talk Shows &amp; Podcasts', 'Final Fantasy XIV Online', 'Virtual Casino', 'Red Dead Redemption 2', 'Project Zomboid', '\n', 'Just Chatting', 'League of Legends', 'Grand Theft Auto V', 'VALORANT', 'Fortnite', 'Apex Legends', 'Rust', 'Minecraft', 'Escape from Tarkov', 'Dota 2', 'Call of Duty: Warzone', 'Counter-Strike: Global Offensive', 'FIFA 22', 'God of War', 'Slots', 'Teamfight Tactics', 'Music', 'Monster Hunter Rise', 'Hearthstone', 'Dead by Daylight', 'Special Events', 'PUBG: BATTLEGROUNDS', 'Yu-Gi-Oh! Master Duel', 'Rocket League', 'Sports', 'Genshin Impact', 'LOST ARK', 'ASMR', "Tom Clancy's Rainbow Six Extraction", 'Chess', 'Art', 'Overwatch', 'Old School RuneScape', 'Clash Royale', 'Talk Shows &amp; Podcasts', 'Final Fantasy XIV Online', 'Virtual Casino', 'Red Dead Redemption 2', 'Project Zomboid', '\n', 'Among Us', "Tom Clancy's Rainbow Six Siege", 'Destiny 2', 'Crypto', 'Black Desert', 'Pokémon Brilliant Diamond/Shining Pearl', 'Super People', 'World of Tanks', 'Poker', 'Phasmophobia', 'Dark Souls III', 'NBA 2K22', 'Retro', 'Garena Free Fire', 'Dying Light', 'SMITE', 'Total War: Warhammer III', 'Call of Duty: Vanguard', 'Madden NFL 22', '\n', 'Just Chatting', 'League of Legends', 'Grand Theft Auto V', 'VALORANT', 'Fortnite', 'Apex Legends', 'Rust', 'Minecraft', 'Escape from Tarkov', 'Dota 2', 'Call of Duty: Warzone', 'Counter-Strike: Global Offensive', 'FIFA 22', 'God of War', 'Slots', 'Teamfight Tactics', 'Music', 'Monster Hunter Rise', 'Hearthstone', 'Dead by Daylight', 'Special Events', 'PUBG: BATTLEGROUNDS', 'Yu-Gi-Oh! Master Duel', 'Rocket League', 'Sports', 'Genshin Impact', 'LOST ARK', 'ASMR', "Tom Clancy's Rainbow Six Extraction", 'Chess', 'Art', 'Overwatch', 'Old School RuneScape', 'Clash Royale', 'Talk Shows &amp; Podcasts', 'Final Fantasy XIV Online', 'Virtual Casino', 'Red Dead Redemption 2', 'Project Zomboid', '\n', 'Among Us', "Tom Clancy's Rainbow Six Siege", 'Destiny 2', 'Crypto', 'Black Desert', 'Pokémon Brilliant Diamond/Shining Pearl', 'Super People', 'World of Tanks', 'Poker', 'Phasmophobia', 'Dark Souls III', 'NBA 2K22', 'Retro', 'Garena Free Fire', 'Dying Light', 'SMITE', 'Total War: Warhammer III', 'Call of Duty: Vanguard', 'Madden NFL 22', '\n', 'New World', 'VRChat', 'Dark Souls', 'Pools, Hot Tubs, and Beaches', 'Call Of Duty: Modern Warfare', 'Magic: The Gathering', 'Sea of Thieves', 'The Witcher 3: Wild Hunt', 'Fall Guys: Ultimate Knockout', "I'm Only Sleeping", 'Animal Crossing: New Horizons', 'Games + Demos', 'Super Mario 64', 'Internet Cafe Simulator 2', 'F1 2021', 'Dark Souls II', 'Tetris: The Grand Master', 'Super Mario 3D Land', 'StarCraft II', '\n', 'Just Chatting', 'League of Legends', 'Grand Theft Auto V', 'VALORANT', 'Fortnite', 'Apex Legends', 'Rust', 'Minecraft', 'Escape from Tarkov', 'Dota 2', 'Call of Duty: Warzone', 'Counter-Strike: Global Offensive', 'FIFA 22', 'God of War', 'Slots', 'Teamfight Tactics', 'Music', 'Monster Hunter Rise', 'Hearthstone', 'Dead by Daylight', 'Special Events', 'PUBG: BATTLEGROUNDS', 'Yu-Gi-Oh! Master Duel', 'Rocket League', 'Sports', 'Genshin Impact', 'LOST ARK', 'ASMR', "Tom Clancy's Rainbow Six Extraction", 'Chess', 'Art', 'Overwatch', 'Old School RuneScape', 'Clash Royale', 'Talk Shows &amp; Podcasts', 'Final Fantasy XIV Online', 'Virtual Casino', 'Red Dead Redemption 2', 'Project Zomboid', '\n', 'Among Us', "Tom Clancy's Rainbow Six Siege", 'Destiny 2', 'Crypto', 'Black Desert', 'Pokémon Brilliant Diamond/Shining Pearl', 'Super People', 'World of Tanks', 'Poker', 'Phasmophobia', 'Dark Souls III', 'NBA 2K22', 'Retro', 'Garena Free Fire', 'Dying Light', 'SMITE', 'Total War: Warhammer III', 'Call of Duty: Vanguard', 'Madden NFL 22', '\n', 'New World', 'VRChat', 'Dark Souls', 'Pools, Hot Tubs, and Beaches', 'Call Of Duty: Modern Warfare', 'Magic: The Gathering', 'Sea of Thieves', 'The Witcher 3: Wild Hunt', 'Fall Guys: Ultimate Knockout', "I'm Only Sleeping", 'Animal Crossing: New Horizons', 'Games + Demos', 'Super Mario 64', 'Internet Cafe Simulator 2', 'F1 2021', 'Dark Souls II', 'Tetris: The Grand Master', 'Super Mario 3D Land', 'StarCraft II', '\n', 'World of Warships', 'UNDECEMBER', 'The Binding of Isaac: Repentance', 'Mental Hospital: Child of Evil', 'Apsulov: End of Gods', 'Sekiro: Shadows Die Twice', 'Goose Goose Duck', 'Travel &amp; Outdoors', 'Jump King', 'Heroes of Might and Magic III: The Restoration of Erathia', 'Ready or Not', 'Ark: Survival Evolved', 'Hunt: Showdown', 'Street Fighter V', "Five Nights at Freddy's: Security Breach", 'Food &amp; Drink', 'Animals, Aquariums, and Zoos', 'Farming Simulator 22', 'Mario Kart 8 Deluxe']

In [66]:
game_array = df[["GAME"]].to_numpy()
views_array= df[["VIEWS"]].to_numpy()

In [33]:
gamesjson = df.to_json()
json_object = json.loads(gamesjson)
json_formatted_str = json.dumps(json_object, indent=2)
# print(json_formatted_str)

In [32]:
aDict = json.loads(json_formatted_str)
# print(aDict)

In [30]:
# print(aDict['GAME'])

In [31]:
# print(aDict['VIEWS'])

In [10]:
# Convert DataFrame into Dictionary
twitch = pd.Series(df.VIEWS.values,index=df.GAME).to_dict()

In [20]:
type(twitch)

dict

In [24]:
twitch['119000.0']

KeyError: '119000.0'

In [33]:
keys = []
values = []
for key, value in twitch.items():
    print(key, value)
    keys.append(key)
    values.append(value)

Just Chatting 391000.0
League of Legends 281000.0
Grand Theft Auto V 213000.0
VALORANT 119000.0
Fortnite 106000.0
Apex Legends 85300.0
Minecraft 83000.0
Rust 74000.0
Escape from Tarkov 67800.0
Dota 2 67200.0
FIFA 22 64099.99999999999
Call of Duty: Warzone 58200.0
Counter-Strike: Global Offensive 52600.0
God of War 39800.0
Slots 35000.0
Teamfight Tactics 35000.0
Music 33600.0
Hearthstone 30700.0
Dead by Daylight 29900.0
Monster Hunter Rise 29300.0
Yu-Gi-Oh! Master Duel 28900.0
Special Events 28400.0
PUBG: BATTLEGROUNDS 24300.0
Rocket League 23700.0
Sports 20700.0
Genshin Impact 19300.0
Tom Clancy's Rainbow Six Extraction 17800.0
ASMR 17700.0
LOST ARK 17600.0
Chess 17100.0
Old School RuneScape 14100.0
Art 14000.0
Overwatch 13100.0
Final Fantasy XIV Online 13000.0
Clash Royale 11200.0
Talk Shows &amp; Podcasts 11100.0
Red Dead Redemption 2 11000.0
Virtual Casino 10200.0
Project Zomboid 9900.0

 3800.0
Halo Infinite 9200.0
Destiny 2 8300.0
Tom Clancy's Rainbow Six Siege 8100.0
Pokémon Brilliant Diamond/Shining Pearl 7800.0
Crypto 7800.0
World of Tanks 7800.0
Black Desert 7500.0
Poker 7500.0
Super People 6900.0
Dying Light 6900.0
Dark Souls III 6600.0
Retro 6100.0
Garena Free Fire 6000.0
VRChat 5800.0
NBA 2K22 5700.0
SMITE 5700.0
Phasmophobia 5600.0
Sea of Thieves 5600.0
Call of Duty: Vanguard 5300.0
DayZ 5100.0
Call Of Duty: Modern Warfare 5100.0
Pools, Hot Tubs, and Beaches 5000.0
Magic: The Gathering 5000.0
Fall Guys: Ultimate Knockout 4800.0
Games + Demos 4800.0
The Witcher 3: Wild Hunt 4800.0
I'm Only Sleeping 4800.0
Super Mario 64 4700.0
Animal Crossing: New Horizons 4600.0
World of Warships 4500.0
Dark Souls II 4300.0
Super Smash Bros. Ultimate 4200.0
Internet Cafe Simulator 2 4000.0
F1 2021 4000.0
Total War: Warhammer III 4000.0
StarCraft II 4000.0
Madden NFL 22 3900.0
Dark Souls 3900.0
Sekiro: Shadows Die Twice 3700.0
The Binding of Isaac: Repentance 3600.0
Travel &amp; Outdoors 3500.0
Dungeons &amp; Dragons 3500.0
Jump King 3500.0
UNDECEMBER 3500.0
Five Nights at Freddy's: Security Breach 3400.0
Ready or Not 3400.0
Heroes of Might and Magic III: The Restoration of Erathia 3400.0
Ark: Survival Evolved 3300.0
Street Fighter V 3300.0
Hunt: Showdown 3200.0
Food &amp; Drink 3200.0
Animals, Aquariums, and Zoos 3200.0
Stardew Valley 3000.0
Farming Simulator 22 3000.0
MapleStory 3000.0
Age of Empires IV 2900.0
Tibia 2900.0
_id 61eb827ccab400411848543a

# Migrating it to MongoDB

In [13]:
# connecting to mongodb
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# declare the database
db = client.twitchviews_db
collection = db.items

In [14]:
# Push into MongoDB
collection.insert_one(twitch)