In [259]:
#Import Dependencies

from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas 
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

# Imports for routes
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
# import scrape_mars

import time

from selenium import webdriver

In [260]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [261]:
# Connect to a MongoDB
db = client.twitch_db
collection = db.items

In [262]:
# Sets a path to Google Chrome
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [/Users/joescuteri/.wdm/drivers/chromedriver/mac64/97.0.4692.71/chromedriver] found in cache

In [263]:
# URL of the page to be scraped
url = 'https://twitchtracker.com/statistics/games'

In [264]:
# Visit the browser
browser.visit(url)

In [265]:
# Convert the browser to HTML
html = browser.html

In [266]:
# Create BeautifulSoup object; parse with 'lxml' or 'html.parser'. This takes your browser and breaks it up into digestable pieces
soup = BeautifulSoup(html, 'html.parser')

In [267]:
# Make it pretty and easy to read
# print(soup.prettify())

In [268]:
table1 = soup.find('table', id='share-table')

In [269]:
# Page 1 Games
games1 = []

for i in table1.find_all('a'):
    output = i.text
    games1.append(output)

In [270]:
games1

['Just Chatting',
 'League of Legends',
 'Escape from Tarkov',
 'Grand Theft Auto V',
 'Rust',
 'VALORANT',
 'Fortnite',
 'Apex Legends',
 'Dota 2']

In [271]:
# Page 1 Views
views1 = []

for i in table1.find_all('td', class_="sorting_1"):
    output = i.text
    views1.append(output)

In [272]:
views1

['\n\t\t                        \t1,006,841\n\t\t                        ',
 '\n\t\t                        \t380,205\n\t\t                        ',
 '\n\t\t                        \t232,814\n\t\t                        ',
 '\n\t\t                        \t196,796\n\t\t                        ',
 '\n\t\t                        \t194,572\n\t\t                        ',
 '\n\t\t                        \t190,060\n\t\t                        ',
 '\n\t\t                        \t102,344\n\t\t                        ',
 '\n\t\t                        \t95,641\n\t\t                        ',
 '\n\t\t                        \t87,779\n\t\t                        ',
 '\n\t\t                        \t70,686\n\t\t                        ']

In [280]:
# Navigate to page two
page_two = browser.links.find_by_partial_text('2')[1].click()

In [281]:
# Page 2 Games
games2 = []

for i in table1.find_all('a'):
    output = i.text
    games2.append(output)

In [282]:
games2

['Just Chatting',
 'League of Legends',
 'Escape from Tarkov',
 'Grand Theft Auto V',
 'Rust',
 'VALORANT',
 'Fortnite',
 'Apex Legends',
 'Dota 2']

In [ ]:
# Page 1 Views
views2 = []

for i in table1.find_all('td', class_="sorting_1"):
    output = i.text
    views2.append(output)

In [252]:
# Remove All Other Games Combined from views
del views1[0]
views1

['\n\t\t                        \t380,205\n\t\t                        ',
 '\n\t\t                        \t232,814\n\t\t                        ',
 '\n\t\t                        \t196,796\n\t\t                        ',
 '\n\t\t                        \t194,572\n\t\t                        ',
 '\n\t\t                        \t190,060\n\t\t                        ',
 '\n\t\t                        \t102,344\n\t\t                        ',
 '\n\t\t                        \t95,641\n\t\t                        ',
 '\n\t\t                        \t87,779\n\t\t                        ',
 '\n\t\t                        \t70,686\n\t\t                        ']

In [253]:
df3 = pd.DataFrame(games1, columns = ['GAMES'])

In [254]:
df3['VIEWS'] = views1

In [255]:
df3

                GAMES                                              VIEWS
0       Just Chatting  \n\t\t                        \t380,205\n\t\t ...
1   League of Legends  \n\t\t                        \t232,814\n\t\t ...
2  Escape from Tarkov  \n\t\t                        \t196,796\n\t\t ...
3  Grand Theft Auto V  \n\t\t                        \t194,572\n\t\t ...
4                Rust  \n\t\t                        \t190,060\n\t\t ...
5            VALORANT  \n\t\t                        \t102,344\n\t\t ...
6            Fortnite  \n\t\t                        \t95,641\n\t\t  ...
7        Apex Legends  \n\t\t                        \t87,779\n\t\t  ...
8              Dota 2  \n\t\t                        \t70,686\n\t\t  ...

In [256]:
df3 = df3.replace(r'\n+|\t+',' ', regex=True)

In [257]:
df3

                GAMES                                              VIEWS
0       Just Chatting                             380,205            ...
1   League of Legends                             232,814            ...
2  Escape from Tarkov                             196,796            ...
3  Grand Theft Auto V                             194,572            ...
4                Rust                             190,060            ...
5            VALORANT                             102,344            ...
6            Fortnite                             95,641             ...
7        Apex Legends                             87,779             ...
8              Dota 2                             70,686             ...